outline: 1px solid #333
body{
    font-family: sans-serif;
}
header{
    background: black;
    color: white;
}
header im{
    width: 80px;
}
header .list-menu{
    list-style: none;
    margin: 0px;
    padding: 0;
    position: relative;
    left: 200px;  
}
header .list-menu li{
    display: inline-block;
}
header .list-menu a{
    display: block;
    color: white;
    padding: 5px 10p;
    text-decoration: none;
    position: relative;
    top: 70px;
    padding: 9px 9px;
}
.last-episodios{
    background-color: azure;
    border-bottom: 2px solid darkgray;
}
.last-episodios .list-episodios img{
    width: 100%;
}
.last-episodios .list-episodios p{
    text-align: center;
    color: blue;
    font-size: 20px;
    font-family: fantasy;
    padding: 5px;
}
h1{
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
h1 a{
    font-size: 20px;
    text-decoration: none;
    color: blue;
}
.contenido{
    margin-top: 40px;
}
.lista-contenido{
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: top; 
    
}
.lista-contenido li{
    display: inline-block;
    width: 109px;
    margin: 10px 10px 10px 0px;
}
.lista-contenido li p{
    color: blue;
    font-family: fantasy;
    text-align: center;
}
.lista-contenido li img{
    width: 100%;
}
.link-navegacion li img{
    width: 20px;
    padding: 0px;
}
.link-navegacion h3{
    border-bottom: 2px solid #ccc;
    margin: 10px 0;
    border-bottom: 2px solid darkgray;
    font-size: 25px;
    
}
.link-navegacion ul{
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 5px;
}
.link-navegacion a{
    text-decoration: none;
    color: blue;
    font-family: sans-serif;
    font-size: 18px;
    padding: 8px;
    
}
footer{
    background: #808080;
    padding: 70px;
}
.pie-pagina p{
    color: white;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 25px;
    padding-bottom: 10px;
    font-family: arial;
}
.pie-pagina p a{
    text-decoration: none;
    color: #c0c0c0;
    font-size: 20px;
}
.pie-pagina .link-pagina li{
    list-style: none;
    display: inline-block;
    position: relative;
    left: 300px;
    padding: 10px;
}
.pie-pagina .link-pagina li a{
    text-decoration: none;
    color: #c0c0c0;
    font-size: 18px;
}
  
.pie-pagina .link{
    color: #AFA9A8;
    text-align: center;
    font-size: 16px;
    position: relative;
    left: 360px;
}
